body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

form {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=number] {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* pour éviter que le padding ne change la largeur */
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
